.cmi_link {color:#06C}
#top-panel{background:#D9E9FF; border-bottom:3px solid #3D71B8; padding:10px 20px 0 20px; text-align:left; font-family:verdana; font-size:13px}
.right{border:1px dashed #A0B9DB; padding:10px; width:685px; margin:0 auto}
.left{text-align:right; width:710px; margin:0 auto}
.left a{text-decoration:none; font-weight:bold}